# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
.env

# OS
.DS_Store

# Local runtime
queue.db

# Ignore uploaded media files only
app/storage/*.m4a
app/storage/*.mp3
app/storage/*.mp4
app/storage/*.MOV
app/storage/evals/
app/storage/uploads/cors.json
