fastapi
uvicorn
pydantic
faster-whisper
python-multipart
slowapi
python-dotenv
gunicorn
google-cloud-storage
python-docx
google-cloud-firestore
google-cloud-run
httpx
huggingface_hub==0.30.2
matplotlib
torch==2.4.1
torchaudio==2.4.1
pyannote.audio==3.3.2
