#=====================================
# PUBLIC API
# Mirror of the default runtime /openapi.yaml output.
#======================================

openapi: 3.0.3

info:
  title: KreyAI Transcription API
  description: >
    KreyAI public transcription API.
    Publicly supported languages in the default deployment: en, es, fr, pt, ht.
  version: "2.0.0"
  contact:
    name: KreyAI
    url: https://www.kreyai.com

servers:
  - url: https://api.kreyai.com

security:
  - bearerAuth: []

paths:
  /v1/transcribe:
    post:
      summary: Transcribe an audio or video file
      operationId: transcribeFile
      security:
        - bearerAuth: []

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio or video file (mp3, mp4, wav, m4a)
                language:
                  type: string
                  description: Language code or auto-detect
                  enum: [auto, en, es, fr, pt, ht]
                  default: auto
                format:
                  type: string
                  description: Output format
                  enum: [text, json, srt, vtt]
                  default: text
                speakers:
                  type: string
                  description: Speaker detection mode
                  enum: [auto, off]
                  default: off

      responses:
        "200":
          description: Transcription completed
        "400":
          description: Invalid request
        "401":
          description: Invalid or missing API key
        "413":
          description: File too large
        "429":
          description: Quota exceeded
        "500":
          description: Processing failed

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API_KEY
